<% layout('/layout') %>

<h1><b>Champion's Hall</b></h1>
<h2>Behold, the Reigning Champions!!</h2>

<div class="container">
	<div class="row">
	

		<table class="table table-borderless">
			<thead>
				<tr>
					<th scope="col">Champion</th>
					<th scope="col">Victories</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Domi</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Fred</td>
					<td>6</td>
				</tr>
				<tr>
					<td>George</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Ron</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Harry</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Hermione</td>
					<td>15</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
