<% layout('/layout') %>

    <h1>Welcome to <%= title %>!</h1>
    <img src="">
    <p>Hammer crushes Stone, Stone shatters Axe, Axe slices Hammer.   Five rounds determine the victor!</p>
    <h2>Choose Wisely...</h2>
    <div id="toBattleground">
    	<button type="button" class="btn btn-outline-secondary"><a href="/battleground">Begin Game</a></button>
	</div>
  </body>
</html>
