body {
  padding: 50px;
  font: 14px "Darker Grotesque", Arial;
  /*color: crimson;*/
  font-size: 30px;
 /* background-color: #ff9900;*/
  background-color: #0099ff;
 /* background-color: #ffd699;*/
  color: yellow;
  /*color: #ffd699; buton color*/
  /*background-color: crimson;*/
}

footer{
	font-size: 17px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
	color: #0099ff;
	text-decoration: none;
}
h1 {
	text-align: center;
	font-size: 50px;
}

h2{
	text-align: center;
}

h5{
	display: inline;
	margin: -0px 30px 0px 30px;
	text-align: left;
}
p{
	font-size: 25px;
	text-align: center;
}

input[type=text] {
	background-color: #ff9900;

	border: 1px solid yellow;
	outline-offset: none;
	color: white;
}
input[type=text]:focus{
	color: #0099ff;
	background-color: yellow;
}

input[type=text]::-webkit-input-placeholder { /* Edge */
  color: white;
}
​
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
​
input[type=text]::placeholder {
  color: white;
}


input[type=text]:focus::-webkit-input-placeholder { /* Edge */
  color: #0099ff;
}
​
input[type=text]:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0099ff;
}
​
input[type=text]:focus::placeholder {
  color: #0099ff;
}

button{
	background-image: none;
}

.table{
	color: yellow;
}
.table th{
	color: white;
}
.btn{
	color: white;
	background-color: none;
}
.btn-outline-secondary:hover{
	color: #0099ff;
	background-color: yellow;
	border-color: yellow;
}
.btn-outline-secondary{
	border-color: yellow;
}
#toBattleground{
	margin-top: 20px;
	text-align: center;
}

#toOtherBattle{
	margin-top: 20px;
}

#triangle{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#chooseWise{
	color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}
#p1_stone, #p1_hammer, #p1_axe{
	display: inline;
	margin: 13px;
	background-color: none;
	border: none;
	float: left;
}
#p2_stone, #p2_hammer, #p2_axe{
	display: inline;
	margin: 13px;
	background-color: none;
	border: none;
	float: left;
}

#cpu_choice{
	text-align: center;
}
#p2_choice_display{
	text-align: center;
}

#p1_choice_display{
	text-align: center;
}

#cpu_stone, #cpu_hammer, #cpu_axe{
	display: inline;
	margin: 13px;
	background-color: none;
	border: none;
	float: right;
}

#instruct1{
	margin-left: -15px;
}

#instruct2{
	margin-left: -12px;
}

#showCN{
	color: white;
	font-size: 35px;
}

#showN{
	color: white;
	font-size: 35px;
}

#showP2{
	font-size: 35px;
 	color: white;
	
}

#home{
	text-align: center;
	margin-top: 60px;
}

#versus{
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
	color: white;
}

#cpuArea{
	text-align: center;
}

#player1Area{
	text-align: center;
}

#player2Area{
	text-align: center;
}
#resultArea{
	text-align: center;
}

#roundStuffs{
	text-align: center;
}
#victor{
	color: white;
	font-size: 30px;
}

#chalCpu, #chalP2{
	text-align: center;
}