body {
  padding: 50px;
  font: 14px "Darker Grotesque", Arial;
  /*color: crimson;*/
  font-size: 30px;
  /*background-color: #e6fff2;*/
  /*background-color: #e6ffff;*/
  /*background-color: #ffd699;*/
  color: yellow;
  /*color: #ffd699; buton color*/
  background-color: crimson;
}

footer{
	font-size: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
	color: crimson;
	text-decoration: none;
}
h1 {
	text-align: center;
}

h2{
	text-align: center;
}
p{
	font-size: 25px;
	text-align: center;
}

input[type=text] {
	background-color: #ff9900;
	border: 1px solid yellow;
	outline-offset: none;
	color: white;
}
input[type=text]:focus{
	color: crimson;
	background-color: yellow;
}

.btn{
	color: white;
	background-color: crimson;
}
.btn-outline-secondary:hover{
	color: crimson;
	background-color: yellow;
	border-color: yellow;
}
.btn-outline-secondary{
	border-color: yellow;
}
#toBattleground{
	margin-top: 20px;
	text-align: center;
}
#p1_stone, #p1_hammer, #p1_axe{
	display: inline;
	margin: 20px;
	background-color: none;
	border: none;
}

#cpu_stone, #cpu_hammer, #cpu_axe{
	display: inline;
	margin: 20px;
	background-color: none;
	border: none;
}

#home{
	float: right;
	margin-top: 100px;
}

#versus{
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
	color: #00ccff;
}

#cpuArea{
	text-align: center;
}

#player1Area{
	text-align: center;
}

#resultArea{
	text-align: center;
}

#victor{
	color: #00ccff;
	font-size: 30px;

}